HW/HW2/__pycache__/preprocessing.cpython-38.pyc
.DS_Store
.gitignore
HW/HW2/model3_comp.py
HW/HW2/__pycache__/utils.cpython-38.pyc
HW/HW2/__pycache__/train_loop_model3.cpython-38.pyc
HW/HW2/__pycache__/model3_comp.cpython-38.pyc
HW/HW2/.vscode/launch.json
HW/HW2/data/debug.tagged
HW/HW2/LSTM_model_stateDict_batchSize_32_hidden_32_lr_0.001.pt
HW/HW2/LSTM_model_stateDict_batchSize_32_hidden_64_lr_0.001.pt
HW/HW2/LSTM_model_stateDict_batchSize_32_hidden_16_lr_0.001.pt
HW/HW2/LSTM_model_stateDict_batchSize_32_hidden_200_lr_0.001.pt
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/val_f1=0.634_glove-twitter-200_hidden=32_CrossEntropy_                drop=0_w=[0.1, 0.9].png
HW/HW2/plots/val_f1=0.634_glove-twitter-200_hidden=32_CrossEntropy_                drop=0_w=[0.1, 0.9].png
HW/HW2/plots/val_f1=0.636_glove-twitter-200_hidden=32_CrossEntropy_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/val_f1=nan_glove-twitter-200_hidden=32_CrossEntropy_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_BCELogit_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=32_CrossEntropy_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_BCELogit_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=64_CrossEntropy_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_BCELogit_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=128_CrossEntropy_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_BCELogit_                drop=0.5_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.2_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.2_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.2_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.4_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.4_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.4_w=[0.25, 0.75].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.5_w=[0.2, 0.8].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.5_w=[0.4, 0.6].png
HW/HW2/plots/relu dropout/glove-wiki-gigaword-300_hidden=256_CrossEntropy_                drop=0.5_w=[0.25, 0.75].png
